body {
    background-color: rgb(33, 33, 33);
    color: white;
}

#input-form {
    width: 50%;
    margin: auto;
    border:1px solid black;
    padding: 5px;
    text-align: center;
}

input, select, button {
    min-width: 60px;
    width: 10%;
}

#ORM-panel {
    min-width: 100px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

#input-form button {
    margin-left: auto;
    margin-right: auto;
}

input[type=number] {
  -moz-appearance: textfield;
}

table {
    width: 50%;
    margin: auto;
}

table, th, td {
    border:1px solid black;
}

/* mobile formatting */
@media screen and (max-width: 800px) {

input, select, button {
    width: 30%;
}
}
