body {
    background-color: rgb(33, 33, 33);
    color: white;
}

#input-form {
    width: 50%;
    margin: auto;
    border:1px solid black;
    padding: 5px;
}

input, select, button {
    min-width: 60px;
    margin-right: 10px;
    margin-left: 45%;
    width: 10%;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
    margin-bottom: 0%;
}

table {
    width: 50%;
    margin: auto;
}

table, th, td {
    border:1px solid black;
}

/* mobile formatting */
@media screen and (max-width: 800px) {
    input, select, button {
    min-width: 60px;
    margin-right: 10%;
    margin-left: 10%;
    width: 10%;
    }
}
